* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
/* background: linear-gradient(0deg, #27232f 16.62%, #67528e 85.61%); */
/* background: #212121; */

/* ------------Botão-Brilhante------------ */

  /* .botao {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 50px;
    position: relative;
    color: #fff;
    background: #111;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
    outline: none;
    font-weight: 600;
    font-size: 20px;
  }
  
  .botao::before {
      content: '';
      background: linear-gradient(45deg, #ff8800, #ff5101, #eeff01);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      animation: glowing 3s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }
  
  .botao:active {
      color: #000;
  }
  
  .botao:active:after {
      background: transparent;
  }
  .botao:hover::before {
      opacity: 1;
  }
  
  .botao::after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
  }
  @keyframes glowing {
      0% { background-position: 0 0; }
      25% { background-position: 50% 0; }
      50% { background-position: 75% 0; }
      75% { background-position: 50% 0; }
      100% { background-position: 0 0; }
  } */

/* ------------------------- */
#imagem {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("../churrasco-background.jpg");
    background-size: cover;
}

.container-principal{
    max-width: 350px;
    margin: auto;
    padding: 25px;
    background-color: #323232;
    color: #fff;
    border-radius: 35px;
    box-shadow: #df8 2px 2px 5px 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.titulo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    padding-bottom: 30px;
}
.entrada{
    font-size: 0.9rem;
    height: 30px;
    width: 100%;
    text-align: center;
    border-radius: 50px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.botao-calcular {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: #df8 0px 0px 2px 2px;
}
.botao-calcular:hover{
    color: #fff;
    background: rgba(155, 155, 155, 0.2);
    box-shadow: #df8 0px 0px 10px 1px;
    transition-duration: 0.4s;
}
#resultados {
    transition-duration: 0.5s;
    margin-bottom: 0px;
    border-top: #df8 2px solid;
    border-bottom: #df8 2px solid;
    padding-bottom: 20px;
    padding-top: 20px;
}
.resultList {
    font-size: 19px;
    list-style: none;
    text-align: center;
}